.container{
    margin-top:2rem;
    width: 50rem;
    height: 4.5rem;
    gap:3rem;
    margin-left:30%;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    border-radius: 25px;
    /* border: 1px solid red; */
}

.container > h3{
    margin-left:3rem;
    /* border: 1px solid red; */
}
.data > h3{
    margin-top:5px;
    margin-left: 3rem;
    padding-bottom: 15px;
}
.data > select {
    display:flex;
    justify-content: flex-end;
    align-self: flex-end;
    border:1px solid red;
}
.data{
    display: flex;
    gap:10rem;
    /* padding:auto */
   border: 1px solid red; 
}

.data > .club > select{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    border:1px solid red;
}