
.instagram-post {
  position: relative;
  left:35%;
  margin-top:3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  border-radius: 25px;
  /* object-fit: fill; */
}


  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .icon {
    display:flex;
    align-self: flex-start;
    position:relative;
    top:23px;
  }
  
  .post-image {
    /* width: 28rem; */
    width: 100%;
    height: auto; 
    object-fit: fill;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .clubName{
    display:flex;
    align-self: start;
    /* margin-top:2%; */
    margin-left:34px;
    margin-bottom: 7px;

  }
  .post-caption {
    align-self: start;
    font-size: 14px;
    width: 80%;
    height: auto;
    margin-left:7px;
    line-height: 20px;
    /* border: 1px solid red; */
  }
  
  .post-actions {
    display:flex;
    gap:10px;
    align-self: flex-end;
    margin-right: 5px;
    justify-content:space-around ;
    position:relative;
    bottom:50px;

  }
  
  .heart{
    height:20px;
    width: 20px;
  }
  
  .likes-count {
    align-self: start;
    font-weight: bold;
    margin-left:8px;
    position:absolute;
    bottom: 50px;
    margin-bottom: 0px;
  }

  .comment-section{
    height: 35px;
    width: 50%;
    border:none;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 15px;
    padding-left:10px;
    outline: black;
    /* border:1px solid red; */
  }
  
  .comment-section::placeholder {
    color: #999;
    font-size: 14px;
  }
  