* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Google Sans, Helvetica Neue, sans-serif;
  }
  
  .name{
    display: flex;
    justify-content: center;
    margin-top:5%;
    font-size: 30px;
    margin-left:16rem;
    font-family: Google Sans;
  }

  .Clubs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    margin-left:36rem;
    width: 40rem;
    height: 32rem;
    background-color:#a4d8d2;
    border-radius: 15px;
  }
  .club{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px;
    width:30rem;
    /* border:1px solid red; */
    /* border:1px solid red; */
  }
  .club > input{
    display: flex;
    align-self: flex-end;
    /* padding:50px; */
    width: 10%;
    height: 90%;
    border:1px solid red;
  }
  .club > label{
    margin-right:10px;
    font-size: 18px;
    /* border:1px solid red; */
  }
  .button {
    height: 35px;
    width: 150px;
    margin-top:3%;
    /* padding: 5px 40px 5px 40px; */
    background-color: #339387;
    border: none;
    border-radius: 15px;
  }

  .loading{
    
  }