/* TextPost.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:40%;
    margin-top:3%;
    /* border:1px solid red; */
    height: 50rem;
    width:35rem;
    background-color: #6dc5bc;
    border-radius: 30px;
    /* #52a79e */
  }
  
  .textPost {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    margin-top:10%;
    border: 1px solid #ccc;
    resize: none;
    background-color:#e2fffc;
    border-radius: 25px;
    outline: none;
    padding-left:15px;
    padding-top:15px;
  }

  .caption {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    margin-top:8%;
    border: 1px solid #ccc;
    resize: none;
    background-color:#e2fffc;
    border-radius: 25px;
    outline: none;
    padding-top:15px;
    padding-left:15px;
  }

  .postes{
    width: 100%;
    gap:3rem;
    /* border:1px solid red; */
  }
  .tag{
    width: 80%;
    padding: 8px;
    font-size: 16px;
    margin-top:8%;
    border: 1px solid #ccc;
    resize: none;
    background-color:#e2fffc;
    border-radius: 25px;
    outline: none;
    padding-top:15px;
    padding-left:15px;
    margin-left:3.5rem;

}

  .postes > p{
    margin-top:1.5rem;
    margin-left:4rem;
    font-size: 18px;
  }

  .modes{
    margin-left:4.5rem;
    margin-top:1.5rem;
  }

  .post{
    padding:15px;
    font-size: 18px;
    border-radius: 50px;
    align-self: flex-end;
    margin-right: 2rem;
    background-color: rgb(156, 253, 12);
    border:none;
  }
  