* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Google Sans, Helvetica Neue, sans-serif;
}


.userprofileimage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1.5rem;
  margin-left:35%;
}

.userdata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:5rem;
  margin-left: 32.5rem;
  width: 50%;
  background-color: #e4e4e4;
  border-radius: 30px;
  padding-bottom:25px;
  /* border:1px solid red; */
}

.userdetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5%;
  /* border:1px solid red; */
  margin-left:11%
  /* padding-right:50px; */
}

.details{
  display:flex;
  flex-direction: column;
}

.details > label{
  font-size: 20px;
  line-height: 45px;
}

.data > h3{
  font-size: 20px;
  line-height: 45px;
}

.register {
  margin-top:10px;
  margin-left: 0px;
  text-decoration: none;
  /* color: black; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height: 45px;
  width: 190px;
  padding: 5px 40px;
  background-color: rgb(226, 224, 224);
  border: none;
  border-radius: 15px;
  font-size: 18px;
  margin-bottom: 3%;
  text-decoration: none;
  margin-left:52%;
}
.but{
  text-decoration: none;
  color: black;
}
